* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* login-sign page */

.login-sign-body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(164, 234, 234), rgb(235, 145, 160));
    color: #333;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    position: relative;
    top: 5rem;
    left: 21rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(14, 14, 14, 0.1);
    width: 53.13rem;
    height: 34.38rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./Images/login-sign-bg.jpeg) no-repeat center center;
    background-size: cover;
}

.container h1 {
    color: #fff;
    font: 1em sans-serif;
    border-radius: 0.5rem;
}

.header {
    position: absolute;
    top: 1.4rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    /* margin-bottom: 1.0rem; */
    border: #ffffffb4 2px solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: rgb(120, 120, 228);
}

.admin-sec {
    width: 12.5rem;
    height: 6.25rem;
    background: rgba(109, 84, 223, 0.8);
    border-radius: 0.625rem;
    box-shadow: 5px 5px 10px rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6rem;
    right: 5.5rem;
    
}

.admin-sec a {
    color: #fff;
    font-weight: 600;
}

.admin-sec-i {
    font-size: 2rem;
    color: #000000;
    margin: 0.625rem 0 0.625rem 0;
}

.admin-sec:hover {
    background: rgba(47, 0, 255, 0.9);
    transition: background 0.3s ease;
    color: #b41d1d;
    cursor: pointer;
    font-weight: 600;
}

.doctor-sec {
    width: 12.5rem;
    height: 6.25rem;
    background: rgba(109, 84, 223, 0.8);
    border-radius: 0.625rem;
    box-shadow: 5px 5px 10px rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 11.5rem;
    
}

.doctor-sec a {
    color: #fff;
    font-weight: 600;
}

.doctor-sec-i {
    font-size: 2rem;
    color: #000000;
    margin: 0.625rem 0 0.625rem 0;
}

.doctor-sec:hover {
    background: rgba(47, 0, 255, 0.9);
    transition: background 0.3s ease;
    color: #050505;
    cursor: pointer;
    font-weight: 600;
}

.patient-sec {
    width: 12.5rem;
    height: 6.25rem;
    background: rgba(109, 84, 223, 0.8);
    border-radius: 0.625rem;
    box-shadow: 5px 5px 10px rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6rem;
    left: 5.5rem;
    
}

.patient-sec a {
    color: #fff;
    font-weight: 600;
}

.patient-sec-i {
    font-size: 2rem;
    color: #000000;
    margin: 0.625rem 0 0.625rem 0;
}

.patient-sec:hover {
    background: rgba(47, 0, 255, 0.9);
    transition: background 0.3s ease;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

/* end login-sign page */




/* Index page  */

.index-body {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to right, rgb(164, 234, 234), rgb(235, 145, 160)); */
    background: #fff8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    position: relative;
}

.index-container {
    position: relative;
    left: 12.5rem;
    box-shadow: 0 4px 12px rgba(14, 14, 14, 0.1);
    width: 70rem;
    height: 45rem;
    justify-content: center;
}

.index-header {
    width: 100%;
    height: 70%;
    position: relative;
    background: url(./Images/index-bg.png) no-repeat center center;
    background-size: 100% 100%;
}

.index-main {
    width: 100%;
    height: 20%;
    display: inline-flex;
    position: relative;
    /*   */
}

.index-main-leave {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b41d1d;
}

.index-main-certificate {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #1d25b4; */
}

.index-main-certificate-img {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-main-certificate-img-photo {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(14, 14, 14, 0.1);
}

.index-main-award {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #7ddb0a; */
}

.index-main-award-img {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-main-award-img-photo {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(14, 14, 14, 0.1);
}

.index-main-vote {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #b73fdc; */
}

.index-main-vote-img {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-main-vote-img-photo {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(14, 14, 14, 0.1);
}

.index-main-login {
    width: 20%;
    height: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
    /* background: #737e7c; */
}

.btn {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(14, 14, 14, 0.1);
    color: #111010;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 26px;
    background: #6198da;
}

.btn:hover {
    background: #111010;
    color: #f2ebeb;
    transition: background 0.3s ease;
}

.index-footer {
    width: 100%;
    height: 10%;
    display: inline-flex;
    position: relative;
    background: rgb(51, 219, 112);
}

.index-footer-title {
    width: 80%;
    height: 100%;
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}

.index-footer-token {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-footer-token-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    border: #000000 1px solid;
    box-shadow: 0 4px 12px rgba(14, 14, 14, 0.1);
    color: #fff;
    padding: 0.5rem;
    background: #000000;
}

.index-footer-token-input {
    width: 6rem;
    height: 2.5rem;
    box-shadow: 0 4px 12px rgba(14, 14, 14, 0.1);
    color: #111010;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: none;
}

/* end index page */